## Creating and Using DataFrame

In [1]:
import pandas as pd

DataFrames can be made from lists, files, directly from a database with some SQL statements

In [2]:
data = [
    ("Dexter", "Johnsons", "dog", "shiba inu", "red sesame", 1.5,35,"m",False,"both",True),
    ("Alfred", "Johnsons", "cat", "mix", "tuxedo", 4,12,"m",True,"indoor",True),
    ("Petra", "Smith", "cat", "ragdoll", "calico", None,10,"f",False,"both",True),
    ("Ava", "Smith", "dog", "mix", "blk/wht", 12,32,"f",True,"both",False),
    ("Schroder", "Brown", "cat", "mix", "orange", 13,15,"m",False,"indoor",True),
    ("Blackbeard", "Brown", "bird", "parrot", "multi", 5,3,"f",False,"indoor",),
]

In [6]:
labels = ["name", "owner", "type", "breed", "color", "age", "weight", "gender", "health issues", "indoor/outdoor", "vaccinated"]

Create data frame named `vet_records`

In [7]:
vet_records = pd.DataFrame.from_records(data, columns=labels)

In [8]:
print(vet_records)

         name     owner  type      breed       color   age  weight gender  \
0      Dexter  Johnsons   dog  shiba inu  red sesame   1.5      35      m
1      Alfred  Johnsons   cat        mix      tuxedo   4.0      12      m
2       Petra     Smith   cat    ragdoll      calico   NaN      10      f
3         Ava     Smith   dog        mix     blk/wht  12.0      32      f
4    Schroder     Brown   cat        mix      orange  13.0      15      m
5  Blackbeard     Brown  bird     parrot       multi   5.0       3      f

   health issues indoor/outdoor vaccinated
0          False           both       True
1           True         indoor       True
2          False           both       True
3           True           both      False
4          False         indoor       True
5          False         indoor       None

In [9]:
vet_records.head()

,name,owner,type,breed,color,age,weight,gender,health issues,indoor/outdoor,vaccinated
0,Dexter,Johnsons,dog,shiba inu,red sesame,1.5,35,m,False,both,True
1,Alfred,Johnsons,cat,mix,tuxedo,4.0,12,m,True,indoor,True
2,Petra,Smith,cat,ragdoll,calico,NaN,10,f,False,both,True
3,Ava,Smith,dog,mix,blk/wht,12.0,32,f,True,both,False
4,Schroder,Brown,cat,mix,orange,13.0,15,m,False,indoor,True

In [10]:
vet_records.tail()

,name,owner,type,breed,color,age,weight,gender,health issues,indoor/outdoor,vaccinated
1,Alfred,Johnsons,cat,mix,tuxedo,4.0,12,m,True,indoor,True
2,Petra,Smith,cat,ragdoll,calico,NaN,10,f,False,both,True
3,Ava,Smith,dog,mix,blk/wht,12.0,32,f,True,both,False
4,Schroder,Brown,cat,mix,orange,13.0,15,m,False,indoor,True
5,Blackbeard,Brown,bird,parrot,multi,5.0,3,f,False,indoor,None

In [11]:
vet_records.dtypes

name               object
owner              object
type               object
breed              object
color              object
age               float64
weight              int64
gender             object
health issues        bool
indoor/outdoor     object
vaccinated         object
dtype: object

In [12]:
print(latels)

['name', 'owner', 'type', 'breed', 'color', 'age', 'weight', 'gender', 'health issues', 'indoor/outdoor', 'vaccinated']

In [14]:
vet_records.type.count()

6

Pandas automatically skips `None` and `NaN`

In [16]:
vet_records.vaccinated.count()

5

In [17]:
vet_records.groupby('type').count()

,name,owner,breed,color,age,weight,gender,health issues,indoor/outdoor,vaccinated
type,,,,,,,,,,
bird,1,1,1,1,1,1,1,1,1,0
cat,3,3,3,3,2,3,3,3,3,3
dog,2,2,2,2,2,2,2,2,2,2

In [18]:
vet_records.type.value_counts()

cat     3
dog     2
bird    1
Name: type, dtype: int64