## Creating and Using DataFrame

In [1]:
import pandas as pd

DataFrames can be made from lists, files, directly from a database with some SQL statements

In [2]:
data = [
    ("Dexter", "Johnsons", "dog", "shiba inu", "red sesame", 1.5,35,"m",False,"both",True),
    ("Alfred", "Johnsons", "cat", "mix", "tuxedo", 4,12,"m",True,"indoor",True),
    ("Petra", "Smith", "cat", "ragdoll", "calico", None,10,"f",False,"both",True),
    ("Ava", "Smith", "dog", "mix", "blk/wht", 12,32,"f",True,"both",False),
    ("Schroder", "Brown", "cat", "mix", "orange", 13,15,"m",False,"indoor",True),
    ("Blackbeard", "Brown", "bird", "parrot", "multi", 5,3,"f",False,"indoor",),
]

In [3]:
labels = ["name", "owner", "type", "breed", "color", "age", "weight", "gender", "health issues", "indoor/outdoor", "vaccinated"]

Create data frame named `vet_records`

In [4]:
vet_records = pd.DataFrame.from_records(data, columns=labels)

In [5]:
print(vet_records)

         name     owner  type      breed       color   age  weight gender  \
0      Dexter  Johnsons   dog  shiba inu  red sesame   1.5      35      m
1      Alfred  Johnsons   cat        mix      tuxedo   4.0      12      m
2       Petra     Smith   cat    ragdoll      calico   NaN      10      f
3         Ava     Smith   dog        mix     blk/wht  12.0      32      f
4    Schroder     Brown   cat        mix      orange  13.0      15      m
5  Blackbeard     Brown  bird     parrot       multi   5.0       3      f

   health issues indoor/outdoor vaccinated
0          False           both       True
1           True         indoor       True
2          False           both       True
3           True           both      False
4          False         indoor       True
5          False         indoor       None

In [6]:
vet_records.head()

,name,owner,type,breed,color,age,weight,gender,health issues,indoor/outdoor,vaccinated
0,Dexter,Johnsons,dog,shiba inu,red sesame,1.5,35,m,False,both,True
1,Alfred,Johnsons,cat,mix,tuxedo,4.0,12,m,True,indoor,True
2,Petra,Smith,cat,ragdoll,calico,NaN,10,f,False,both,True
3,Ava,Smith,dog,mix,blk/wht,12.0,32,f,True,both,False
4,Schroder,Brown,cat,mix,orange,13.0,15,m,False,indoor,True

In [7]:
vet_records.tail()

,name,owner,type,breed,color,age,weight,gender,health issues,indoor/outdoor,vaccinated
1,Alfred,Johnsons,cat,mix,tuxedo,4.0,12,m,True,indoor,True
2,Petra,Smith,cat,ragdoll,calico,NaN,10,f,False,both,True
3,Ava,Smith,dog,mix,blk/wht,12.0,32,f,True,both,False
4,Schroder,Brown,cat,mix,orange,13.0,15,m,False,indoor,True
5,Blackbeard,Brown,bird,parrot,multi,5.0,3,f,False,indoor,None

In [8]:
vet_records.dtypes

name               object
owner              object
type               object
breed              object
color              object
age               float64
weight              int64
gender             object
health issues        bool
indoor/outdoor     object
vaccinated         object
dtype: object

In [9]:
print(latels)

NameError: name 'latels' is not defined

In [14]:
vet_records.type.count()

6

Pandas automatically skips `None` and `NaN`

In [16]:
vet_records.vaccinated.count()

5

In [17]:
vet_records.groupby('type').count()

,name,owner,breed,color,age,weight,gender,health issues,indoor/outdoor,vaccinated
type,,,,,,,,,,
bird,1,1,1,1,1,1,1,1,1,0
cat,3,3,3,3,2,3,3,3,3,3
dog,2,2,2,2,2,2,2,2,2,2

In [18]:
vet_records.type.value_counts()

cat     3
dog     2
bird    1
Name: type, dtype: int64

## Slicing DataFrames

In [10]:
print(vet_records)

         name     owner  type      breed       color   age  weight gender  \
0      Dexter  Johnsons   dog  shiba inu  red sesame   1.5      35      m
1      Alfred  Johnsons   cat        mix      tuxedo   4.0      12      m
2       Petra     Smith   cat    ragdoll      calico   NaN      10      f
3         Ava     Smith   dog        mix     blk/wht  12.0      32      f
4    Schroder     Brown   cat        mix      orange  13.0      15      m
5  Blackbeard     Brown  bird     parrot       multi   5.0       3      f

   health issues indoor/outdoor vaccinated
0          False           both       True
1           True         indoor       True
2          False           both       True
3           True           both      False
4          False         indoor       True
5          False         indoor       None

In [11]:
vet_records_archive = vet_records # make a backup archive

In [12]:
print(vet_records_archive)

         name     owner  type      breed       color   age  weight gender  \
0      Dexter  Johnsons   dog  shiba inu  red sesame   1.5      35      m
1      Alfred  Johnsons   cat        mix      tuxedo   4.0      12      m
2       Petra     Smith   cat    ragdoll      calico   NaN      10      f
3         Ava     Smith   dog        mix     blk/wht  12.0      32      f
4    Schroder     Brown   cat        mix      orange  13.0      15      m
5  Blackbeard     Brown  bird     parrot       multi   5.0       3      f

   health issues indoor/outdoor vaccinated
0          False           both       True
1           True         indoor       True
2          False           both       True
3           True           both      False
4          False         indoor       True
5          False         indoor       None

In [13]:
weight = vet_records['weight']

In [14]:
weight

0    35
1    12
2    10
3    32
4    15
5     3
Name: weight, dtype: int64

In [15]:
print(vet_records) # the weight column is still in the dataframe

         name     owner  type      breed       color   age  weight gender  \
0      Dexter  Johnsons   dog  shiba inu  red sesame   1.5      35      m
1      Alfred  Johnsons   cat        mix      tuxedo   4.0      12      m
2       Petra     Smith   cat    ragdoll      calico   NaN      10      f
3         Ava     Smith   dog        mix     blk/wht  12.0      32      f
4    Schroder     Brown   cat        mix      orange  13.0      15      m
5  Blackbeard     Brown  bird     parrot       multi   5.0       3      f

   health issues indoor/outdoor vaccinated
0          False           both       True
1           True         indoor       True
2          False           both       True
3           True           both      False
4          False         indoor       True
5          False         indoor       None

In [16]:
dog_weight = vet_records.weight[vet_records.type=='dog'] # get the dog weight from data frame

In [17]:
dog_weight

0    35
3    32
Name: weight, dtype: int64

In [18]:
dogs = vet_records[vet_records.type=='dog'] # get the records whose type matches dog
dogs

,name,owner,type,breed,color,age,weight,gender,health issues,indoor/outdoor,vaccinated
0,Dexter,Johnsons,dog,shiba inu,red sesame,1.5,35,m,False,both,True
3,Ava,Smith,dog,mix,blk/wht,12.0,32,f,True,both,False

In [19]:
vet_records.loc[:,["name", "owner"]]  # all of the rows, but only want the column name and owner

         name     owner
0      Dexter  Johnsons
1      Alfred  Johnsons
2       Petra     Smith
3         Ava     Smith
4    Schroder     Brown
5  Blackbeard     Brown

In [20]:
vet_records.loc[2:3,["name", "owner"]]  # starting at row index 2 ending at row index 3, but only want the column name and owner

    name  owner
2  Petra  Smith
3    Ava  Smith

The i in `iloc` is for the index, meaning that you are just using the index in your search:

In [24]:
vet_records.iloc[2:4,4:6]  # starting at row index 2 ending at row index 3, but only want the color and age - here doing splicing

     color   age
2   calico   NaN
3  blk/wht  12.0

In [25]:
vet_records.iloc[[2,3],[4,5]]  # starting at row index 2 ending at row index 3, but only want the color and age - here doing indexing

     color   age
2   calico   NaN
3  blk/wht  12.0

In [26]:
vet_records[vet_records.name.isin(['Dexter','Blackbeard'])]

,name,owner,type,breed,color,age,weight,gender,health issues,indoor/outdoor,vaccinated
0,Dexter,Johnsons,dog,shiba inu,red sesame,1.5,35,m,False,both,True
5,Blackbeard,Brown,bird,parrot,multi,5.0,3,f,False,indoor,None

In [28]:
vet_records[vet_records.name.isin(['Dexter','Blackbeard'])].loc[:,["name", "owner"]]

         name     owner
0      Dexter  Johnsons
5  Blackbeard     Brown

In [29]:
vet_records[~vet_records.name.isin(['Dexter','Blackbeard'])] # add NOT to our filter

,name,owner,type,breed,color,age,weight,gender,health issues,indoor/outdoor,vaccinated
1,Alfred,Johnsons,cat,mix,tuxedo,4.0,12,m,True,indoor,True
2,Petra,Smith,cat,ragdoll,calico,NaN,10,f,False,both,True
3,Ava,Smith,dog,mix,blk/wht,12.0,32,f,True,both,False
4,Schroder,Brown,cat,mix,orange,13.0,15,m,False,indoor,True

## Stats with Dataframes

In [30]:
table = pd.pivot_table(vet_records, values=['weight', 'age'], index=['type', 'breed'], aggfunc=sum)
table

                 age  weight
type breed
bird parrot      5.0       3
cat  mix        17.0      27
     ragdoll     0.0      10
dog  mix        12.0      32
     shiba inu   1.5      35

In [31]:
import numpy as np
table = pd.pivot_table(vet_records, values=['weight', 'age'], index=['type', 'breed'], aggfunc=np.mean)
table

                 age  weight
type breed
bird parrot      5.0     3.0
cat  mix         8.5    13.5
     ragdoll     NaN    10.0
dog  mix        12.0    32.0
     shiba inu   1.5    35.0